{% extends 'Navbar.html' %}
< html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block body%}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">IPL</h5>
        <p class="card-text">IPL Schedule</p>
        <a href="https://www.google.com/search?q=ipl&rlz=1C1ONGR_enIN1087IN1087&oq=ipl&gs_lcrp=EgZjaHJvbWUqDAgAECMYJxiABBiKBTIMCAAQIxgnGIAEGIoFMg0IARAuGIMBGLEDGIAEMgwIAhAjGCcYgAQYigUyDQgDEAAYgwEYsQMYgAQyDQgEEAAYgwEYsQMYgAQyDQgFEAAYgwEYsQMYgAQyBggGEEUYPTIGCAcQRRg90gEHNzc5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#cobssid=s&sie=lg;/g/11v0gsbybs;5;/m/03b_lm1;mt;fp;1;;;" class="btn btn-primary">Schedule</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Youtube</h5>
        <p class="card-text">Enjoy watching YouTube</p>
        <a href="https://www.youtube.com/" class="btn btn-primary">Youtube</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
</body>
</html>